[Unit]
Description=Vault bootstrap
Requires=vault.service
After=vault.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/vault.d/vault-utils.env
ExecStart=/usr/local/bin/vault-utils bootstrap
Restart=on-failure
RestartSec=10
User=vault
Group=vault

[Install]
WantedBy=multi-user.target
